html, body {
	margin: 0;
	padding: 0;
	height: 105%;
}

body {
	-ms-overflow-style: none;
	font-family: "NEXON Lv1 Gothic OTF";
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	border: 0;
	padding: 0;
		background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
	font-family: "NEXON Lv1 Gothic OTF";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

body::after {
	content: "";
	background-image:
		url(https://cdn.pixabay.com/photo/2017/11/12/13/37/forest-2942477_1280.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: -1;
}

header {
    background-color: #DEE2D7;
    color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #508348;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
}

.headerBlank {
	width: 100%;
	height: 15%
}

nav {
	width: 100%;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	position: relative;
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	display: block;
	padding: 15px 50px;
	color: #508348;
	font-style: bord;
	font-size: 14px;
	text-decoration: none;
	transition: 0.2s linear;
}

.nav-right {
	width: 10%;
	height: 200%;
	float: left;
}

section1 {
	width: 40%;
	height: 200%;
	float: left;
	margin-top: 35px;
}

section2 {
	width: 40%;
	height: 200%;
	float: left;
	margin-top: 35px;
}

section1 article img {
	width: 45%;
	height: 35%;
	display: block;
	margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
	margin-bottom: 5px;
}

section2 article img {
	width: 45%;
	height: 35%;
	display: block;
	margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
	margin-bottom: 5px;
}

section1 article {
	border-radius: 0.5em;
	width: 50%;
	padding: 5%;
	margin-top: 3em;
	margin-left: 7em;
	margin-bottom: 3em;
	background-color: #f0f0f0;
}

section2 article {
	border-radius: 0.5em;
	width: 50%;
	padding: 5%;
	margin-top: 3em;
	margin-left: 7em;
	margin-bottom: 3em;
	background-color: #f0f0f0;
}

article:hover {
	transform: scale(1.05);
}

.aside {
	width: 10%;
	height: 200%;
	float: right;
	font-size: 20px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #dee2d7;
	color: #333;
	text-align: center;
	padding: 5px 0;
	height: 50px;
}
html {
	scroll-behavior: smooth;
}
/* 왼쪽 메뉴 css */
.inner-nav {
	position: fixed; /* 네비게이션을 화면에 고정 */
}

.nav-item {
	width: 200px; /* 가로 길이 */
	height: 150px; /* 세로 길이 */
	/* background-color: black; /* 배경색 3.20 수정 */
	border: 5px solid transparent; /* 테두리 스타일 및 색상  3.20 수정 */
	border-radius: 10px; /* 테두리 각 꼭지점 둥글게 만듦 */
	transition: border-color 0.3s; /* 테두리 색상 전환 효과 */
	overflow: hidden;
	margin-top: 5px; /* 이미지 위쪽 간격 조절 */
	margin-bottom: 5px; /* 이미지 아래쪽 간격 조절 */
	position: relative;
	left: 50px;
	top: 150px;
}

.nav-item img {
	filter: grayscale(100%); /* 흑백 필터 적용 */
	transition: filter 0.3s; /* 필터 변환 효과 */
}

/* 애니메이션 키프레임 정의 */
@keyframes border-appear { 0% {
	border-color: grey; /* 테두리 색이 투명에서 시작하여 흰색으로 바뀜 */
}

100%
{
border-color
:
white; /* 테두리 색 최종적으로 흰색으로 설정 */
}
}
/* 마우스를 요소 위에 올렸을 때 */
.nav-item:hover {
	animation: border-appear 0.4s forwards;
}

/* 이미지 스케일링 애니메이션 키프레임 정의 */
@keyframes image-scale { 0% {
	transform: scale(1); /* 기본 크기 */
}

100%
{
transform: scale(1.35); /* 커진 크기 */
}
}

/* 마우스를 요소 위에 올렸을 때 이미지 크기 변경 */
.nav-item:hover img {
	animation: image-scale 0.4s forwards; /* 이미지 스케일링 애니메이션 적용 */
	filter: grayscale(0%); /* 흑백 필터 해제하여 컬러로 변경 */
}

/* 마우스를 요소 위에 올리지 않은 경우에 이미지가 원래 크기여야 함 */
.nav-item:not(:hover) {
	animation: none; /* 애니메이션 제거 */
}

/* 그라데이션 애니메이션 키프레임 정의 */
@keyframes gradient-animation { 0% {
	background-position: 0% 0;
}

100%
{
background-position:100%
0;
}
}

/* 막대기 스타일 */
.bar {
	height: 10px; /* 막대기의 높이 */
	background: #ffffff;
	/* 그라데이션 색상 */
	border-radius: 10px;
	position: relative;
	left: 50px;
	top: 150px;
	background-size: 300% 100%; /* 그라데이션 크기 */
	animation: gradient-animation 2s infinite; /* 애니메이션 적용 */}

/* 왼쪽 메뉴 css끝 */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #dee2d7;
	color: #333;
	text-align: center;
	padding: 5px 0;
	height: 50px;
}

nav {
  width: 100%;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 15px 50px;
  color: #508348;
  font-style: bord;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s linear;
}

.logo {
  margin-left: 10px;
  text-align: center;
}

.logo img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.title {
	width: 80%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px dotted white;
	font-size: 50px;
	color: #f0f0f0;
	position:relative;
	right:55px;
}
