/* html {
    height:100%;
}
body {
    height:100%;
    margin:0;
    border:0;
    padding:0;
    overflow: hidden;
}
.wrap {
    position:relative;
    top:0;
    width:100%;height:100%;
    transition: 1s;
}
.container {
    width:100%;height:100%;
}
.container:nth-child(1){}
.container:nth-child(2){}
.container:nth-child(3){}
.container:nth-child(4){} */

html {
    overflow: hidden;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body::after {
    content: "";
    background-image: url(https://cdn.pixabay.com/photo/2017/11/12/13/37/forest-2942477_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

body {
    font-family: 'NEXON Lv1 Gothic OTF';
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
}

header {
    background-color: #DEE2D7;
    color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #508348;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
}

.logo {
  margin-left: 10px;
  text-align: center;
}

.logo img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

nav {
  width: 100%;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 15px 50px;
  color: #508348;
  font-style: bord;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s linear;
}

.wrap {
    position:relative;
    top:0;
    width:100%;height:100%;
    transition: 0.5s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DEE2D7;
    color: #333;
    text-align: center;
    padding: 5px 0;
    height: 50px;
}	
    

.caption {
    font-size: 1.125rem;
    text-align: center;
    line-height: 2em;
}

/* .img-container {
    display: inline-block;
    
}

.img-container img {
    max-width: 100%;
    height: auto;
    
} */

main {
    text-align: center;
    height: 100%;

}

/* 
.content {
    font-size: 1.125rem;
    line-height: 2em;
    margin-top: 10px;
    text-align: left;
}
*/

.content {
    /* width: max-content; */
    max-width: 20%;
    margin: 10px;
    position: relative;
    counter-increment: count;
    background: linear-gradient(#ffffff, #c9c9c9);
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.headerNew{
    height: 7.6%;
    width: 100%;
    border: 0.0px solid red;
    color: red;
}

/* 공원 소개 페이지 구간 */
/* 1. 맨 처음 제목 시작 */
/* 1-1. 글자 부분 시작 */
.first.title {
    color: black; /* 글자색을 흰색으로 설정 */
    font-size: 30px; /* 글자 크기 설정 */
    /* 글자 그림자 설정 */
    text-shadow: 
    -2px -2px 0 white, /* 좌상단 */
    2px -2px 0 white,  /* 우상단 */
    -2px 2px 0 white,  /* 좌하단 */
    2px 2px 0 white;   /* 우하단 */ 

    text-align: center; /* 가로 방향 가운데 정렬 */
    display: flex;
    justify-content: center; /* 세로 방향 가운데 정렬 */
    align-items: center;
    font-size: 30px;
}
.title {
    position: relative;
    top: 180px;
    width: 100%;    
    height: 10%;
    /*
    border: 1px blue solid;
    color: blue;
    */
}
.first-title-span {
    font-size: 70px;
}
/* 1-1. 글자 부분 끝 */

/* 1-2. 제목 아래의 왼쪽에 있는 공룡 사진 시작 */
.qwe {
    /* border: 5px solid red; */
    justify-content: center;
    align-items: center;
    position: relative; /* 상대적인 위치 지정 */
    top: 250px; /* 위로 20px 이동 */
    height: 50%;
    width: 100%; /* 테이블의 너비를 부모 요소에 맞게 설정합니다. */
}

.qwe-table {
    border-collapse: collapse; /* 테이블 셀의 경계를 합칩니다. */
    width: 100%; /* 테이블의 너비를 부모 요소에 맞게 설정합니다. */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100%; /* 부모 요소의 높이에 맞게 설정 */
}

.qwe .cell {
    /* border: 2px solid black; /* 셀의 테두리 설정 */
    text-align: center; /* 셀 내의 텍스트를 가운데 정렬합니다. */
    width: 700px; /* 각 셀의 너비를 50%로 설정합니다. */
    height: 400px;
}

.item {
    display: inline-block;
    /* margin-top: 2rem; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin-top: 2rem; */
    /* right: 100px; */
    /* 사진옮기기 */
    width: 500px;
    height: 350px;
    position: relative; /* 상대적인 위치 지정 */
    /* text-align: center; /* 가운데 정렬 */
    /* vertical-align: middle; /* 수직 가운데 정렬 */

    /* display: flex; */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    top: 2px; /* 수직 가운데 정렬이 완전히 안 돼서 위치 살짝 내림 */
}

.polaroid {
    display: inline-block;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
    /* height: 90%; */
    /* width: 60%; */
    /* border: 5px solid red; */
    /* height: 200px; */
    /* width: 300px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; /* 상대적인 위치 지정 */
}
/* 1-2. 제목 아래의 왼쪽에 있는 공룡 사진 끝 */

/* 1-3. 제목 아래의 오른쪽에 있는 소개 문구 시작 */
.right-cell-box {
    display: inline-block;
    width: 500px;
    height: 350px;
    position: relative; /* 상대적인 위치 지정 */
    justify-content: center; /* 수평 가운데 정렬 */
    /* text-align: left; /* 내용을 왼쪽으로 정렬 */
    /* vertical-align: middle; /* 수직 가운데 정렬 */
    align-items: center;
    top: 9px; /* 수직 가운데 정렬이 완전히 안 돼서 위치 살짝 내림 */
}

.fig0 {
	width:90%;
}

.right-cell-text {
    /* width: max-content;
    max-width: 100%;
    margin: 10px;
    */
    position: relative;
    counter-increment: count;
    background: linear-gradient(#ffffff, #c9c9c9);
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* transition: all 0.3s ease; */

    width: 500px;
    height: 300px;
    text-align: left; /* 내용을 왼쪽으로 정렬 */
}

.right-cell-text::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 15px solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    opacity: 0.1;
    border-top-right-radius: 3px;
}

.right-cell-text::after {
    content: "- Mesozoic Eden";
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 1.25em;
    font-weight: bold;
    opacity: 0.6;
    font-family: 'dancing script', cursive;
}

.right-cell-text h2::before {
    /* content: counter(count)". "; */
    font-weight: normal;
    opacity: 0.7;
}

.right-cell-text h2, p {
    /* text-align: left; /* 왼쪽 정렬 */
}
/* 1-3. 제목 아래의 오른쪽에 있는 소개 문구 끝 */
/* 1. 맨 처음 제목 끝 */

.container:nth-child(1) {
    width: 100%;
    height: 100%;
}

.container:nth-child(2){
    width: 100%;
    height: 100%;
}

.container:nth-child(3){
    width: 100%;
    height: 100%;
}
.container:nth-child(4){
    width: 100%;
    height: 100%;
}

/* 2. 구간별 이용 안내 부분 시작 */
/* 2-1. 표 위의 타이틀 시작 */
.second-title {
    display: flex;
    justify-content: center; /* 자식 요소들을 수평으로 가운데 정렬 */
    margin-top: 20px; /* 원하는 만큼의 여백 값으로 조정 */
    text-shadow: 
    -2px -2px 0 white, /* 좌상단 */
    2px -2px 0 white,  /* 우상단 */
    -2px 2px 0 white,  /* 좌하단 */
    2px 2px 0 white;   /* 우하단 */ 
}
.second-title h1 {
    text-align: center; /* h1 요소 내의 텍스트를 가운데 정렬 */
}
/* 2-1. 표 위의 타이틀 끝 */

/* 2-2. 표 부분 시작 */
.outter-table {
    display: flex;
    justify-content: center;
}
.outter-table.first{
    margin-top: 50px;
}
.content-table {
    width: 1000px; /* 표 전체 너비 설정 */
    border-collapse: collapse; /* 표 선 제거 */
}
  
.left-column, .right-column {
    padding: 20px; /* 좌우 여백 추가 */
    border: 0; /* 기존의 테두리 제거 */
}

.left-column img { /* 이 부분은 표의 가운데 선을 설정하는 부분 */
   border: 5px solid grey;
   border-radius: 10px;
}

.left-column { /* 이 부분은 표의 가운데 선을 설정하는 부분 */
    border-right: 3px solid #ccc; /* 우측 선 추가 */
    width: 40%; /* 왼쪽과 오른쪽의 숫자(%) 합이 .content-table의 width의 값과 같아야 한다 */
}
.right-column { /* 이 부분은 표의 가운데 선을 설정하는 부분 */
    border-left: 3px solid #ccc; /* 좌측 선 추가 */
    width: 40%; /* 왼쪽과 오른쪽의 숫자(%) 합이 .content-table의 width의 값과 같아야 한다 */
    text-align: left; /* 우측 컬럼 텍스트 왼쪽 정렬 */
    vertical-align: top; /* 텍스트를 표의 위쪽에 정렬 */
}
.right-column-box {
    display: flex;
    justify-content: center; /* 좌우 중앙 정렬 */
    /* align-items: center; /* 상하 중앙 정렬 */
    /* margin: 0 auto; /* 좌우 중앙 정렬을 위해 좌우 마진을 자동으로 설정 */
    height: 210px; /* 위아래 길이 조절 */
}
.right-column-background {
    position: relative;
    counter-increment: count;
    background: linear-gradient(#ffffff, #c9c9c9);
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.right-column-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 15px solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    opacity: 0.1;
    border-top-right-radius: 3px;
}
.right-column-background::after {
    content: "- Mesozoic Eden";
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 1.25em;
    font-weight: bold;
    opacity: 0.6;
    font-family: arial, verdana, tahoma;
}
.right-column-background h3::before {
    /* content: counter(count)". "; */
    font-weight: normal;
    opacity: 0.7;
}

.left-column img {
    display: block;
    margin: 0 auto; /* 왼쪽 칼럼 이미지 왼쪽 영역에서 가운데 정렬 */
    width: 90%;
}

.table-1 {
    margin-bottom: 20px; /* 원하는 만큼의 간격 설정 */
    
}
.table-2 {
    margin-top: 20px; /* 원하는 만큼의 간격 설정 */
    margin-bottom: 20px; /* 원하는 만큼의 간격 설정 */
}
.table-3 {
    margin-top: 20px; /* 원하는 만큼의 간격 설정 */
}

.table-width-line {
    height: 2px; /* 높이 설정 */
    width: 50%; /* 좌우 넓이 설정 */
    background-color: grey; /* 배경색 설정 */
    border: none; /* 기본 테두리 제거 */
    
}
/* 2-2. 표 부분 끝 */
/* 2. 구간별 이용 안내 부분 끝 */

/* 조직도 */
/* * {margin: 0; padding: 0;} */
.tree-box {
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    height: 100vh; /* 높이를 화면 전체 높이로 설정하여 세로 가운데 정렬 */
}

.tree ul {
    padding-top: 80px; /* 크기 수정 */ 
    margin-left: -2em;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.tree ul ul ul::before {
    content: '';
    position: absolute; left: 50.8%; bottom: -20px;
    border-left: 5px solid #b3a486;
    height: 80px; /* 세로 선 길이 */
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 60px 20px 0 20px; /* 크기 수정 */

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 5px solid #b3a486;
    width: 50%; height: 55px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 5px solid #b3a486;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 5px solid #b3a486;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 51%;
    border-left: 5px solid #b3a486;
    width: 0; height: 80px;
}

.tree li a{
    padding: 20px 40px; /* 크기 수정 */
    text-decoration: none;
    color: gray;
    background-color: #bfd8af;
    font-family: arial, verdana, tahoma;
    font-size: 30px; /* 크기 수정 */
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e5fa; color: #000; border: 1px solid #94a0b4;
    font-weight: bold;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    border-color:  #a6f255;
}

.tree ul ul ul ul li a {
    position: relative;
    right: 5%;
}
/* 조직도 끝 */